<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>              
                <rule name="3" stopProcessing="true">
                    <match url="^passport/([a-zA-Z0-9_]+)" />
					<conditions>
					 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
                    <action type="Rewrite" url="passport.php?module={R:1}" />
                </rule>
				<rule name="2" stopProcessing="false">
                    <match url="^passport\/" />
					<conditions>
					 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
                    <action type="Rewrite" url="passport.php" />
                </rule>
				<rule name="6" stopProcessing="true">
                    <match url="^member/([a-zA-Z0-9_]+)" />
					<conditions>
					 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
                    <action type="Rewrite" url="member.php?module={R:1}" />
                </rule>
                <rule name="5" stopProcessing="true">
                    <match url="^member\/" />
					<conditions>
					 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
                    <action type="Rewrite" url="member.php" />
                </rule>  
                <rule name="7" stopProcessing="true">
                    <match url="^tour/([a-zA-Z0-9_]+)" />
					<conditions>
					 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
                    <action type="Rewrite" url="tour.php?view_uuid={R:1}" />
                </rule>
                <rule name="9" stopProcessing="true">
                    <match url="^edit/([a-zA-Z0-9_]+)" />
					<conditions>
					 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
                    <action type="Rewrite" url="edit.php?module={R:1}" />
                </rule>
				<rule name="99" stopProcessing="true">
                    <match url="^edit\/" />
					<conditions>
					 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
                    <action type="Rewrite" url="edit.php" />
                </rule> 
                <rule name="11" stopProcessing="true">
                    <match url="^add/([a-zA-Z0-9_]+)" />
					<conditions>
					 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
                    <action type="Rewrite" url="add.php?module={R:1}" />
                </rule>
				<rule name="10" stopProcessing="true">
                    <match url="^add/\" />
					<conditions>
					 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
                    <action type="Rewrite" url="add.php" />
                </rule>
                <rule name="12" stopProcessing="true">
                    <match url="^index.html" />
					<conditions>
					 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
				<rule name="13" stopProcessing="true">
					<conditions>
					 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
                    <match url="^([a-zA-Z0-9_]+)" />
                    <action type="Rewrite" url="index.php?module={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>